USE [master]
GO
/****** Object:  Database [ASSIGNMENT1]    Script Date: 10/17/2019 9:54:39 AM ******/
CREATE DATABASE [ASSIGNMENT1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASSIGNMENT1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ASSIGNMENT1.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ASSIGNMENT1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ASSIGNMENT1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASSIGNMENT1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASSIGNMENT1]
GO
/****** Object:  Schema [PRODUCTIONS]    Script Date: 10/17/2019 9:54:39 AM ******/
CREATE SCHEMA [PRODUCTIONS]
GO
/****** Object:  Schema [SALES]    Script Date: 10/17/2019 9:54:39 AM ******/
CREATE SCHEMA [SALES]
GO
/****** Object:  Table [PRODUCTIONS].[BRANDS]    Script Date: 10/17/2019 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTIONS].[BRANDS](
	[BRAND_ID] [int] IDENTITY(1,1) NOT NULL,
	[BRAND_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BRAND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTIONS].[CATEGORIES]    Script Date: 10/17/2019 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTIONS].[CATEGORIES](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTIONS].[PRODUCTS]    Script Date: 10/17/2019 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PRODUCTIONS].[PRODUCTS](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME] [varchar](50) NOT NULL,
	[BRAND_ID] [int] NOT NULL,
	[CATEGORY_ID] [int] NOT NULL,
	[MODEL_YEAR] [date] NOT NULL,
	[LIST_PRICE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PRODUCTIONS].[STOCKS]    Script Date: 10/17/2019 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PRODUCTIONS].[STOCKS](
	[STORE_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [SALES].[CUSTOMERS]    Script Date: 10/17/2019 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[CUSTOMERS](
	[CUSTOMER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NOT NULL,
	[PHONE] [numeric](10, 0) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[STREET] [varchar](50) NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
	[ZIP_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[ORDER_ITEMS]    Script Date: 10/17/2019 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SALES].[ORDER_ITEMS](
	[ORDER_ID] [int] NOT NULL,
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[LIST_PRICE] [int] NOT NULL,
	[DISCOUNT] [int] NOT NULL,
	[ITEM_AMOUNT]  AS ([QUANTITY]*[LIST_PRICE]-[DISCOUNT]),
PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SALES].[ORDERS]    Script Date: 10/17/2019 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[ORDERS](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ORDER_STATUS] [varchar](50) NOT NULL,
	[ORDER_DATE] [date] NOT NULL,
	[REQUIRED_DATE] [date] NOT NULL,
	[SHIPPED_DATE] [date] NOT NULL,
	[STORE_ID] [int] NOT NULL,
	[STAFF_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STAFFS]    Script Date: 10/17/2019 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STAFFS](
	[STAFF_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[PHONE] [numeric](10, 0) NOT NULL,
	[ACTIVE] [varchar](50) NOT NULL,
	[STORE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STAFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SALES].[STORES]    Script Date: 10/17/2019 9:54:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SALES].[STORES](
	[STORE_ID] [int] IDENTITY(1,1) NOT NULL,
	[STORE_NAME] [varchar](50) NOT NULL,
	[PHONE] [numeric](10, 0) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[STREET] [varchar](50) NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
	[ZIP_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [PRODUCTIONS].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_BRANDS] FOREIGN KEY([BRAND_ID])
REFERENCES [PRODUCTIONS].[BRANDS] ([BRAND_ID])
GO
ALTER TABLE [PRODUCTIONS].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_BRANDS]
GO
ALTER TABLE [PRODUCTIONS].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_CATEGORIES] FOREIGN KEY([CATEGORY_ID])
REFERENCES [PRODUCTIONS].[CATEGORIES] ([CATEGORY_ID])
GO
ALTER TABLE [PRODUCTIONS].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_CATEGORIES]
GO
ALTER TABLE [PRODUCTIONS].[STOCKS]  WITH CHECK ADD  CONSTRAINT [FK_STOCKS_PRODUCTS] FOREIGN KEY([PRODUCT_ID])
REFERENCES [PRODUCTIONS].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [PRODUCTIONS].[STOCKS] CHECK CONSTRAINT [FK_STOCKS_PRODUCTS]
GO
ALTER TABLE [PRODUCTIONS].[STOCKS]  WITH CHECK ADD  CONSTRAINT [FK_STOCKS_STORES] FOREIGN KEY([STORE_ID])
REFERENCES [SALES].[STORES] ([STORE_ID])
GO
ALTER TABLE [PRODUCTIONS].[STOCKS] CHECK CONSTRAINT [FK_STOCKS_STORES]
GO
ALTER TABLE [SALES].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_ORDERS] FOREIGN KEY([ORDER_ID])
REFERENCES [SALES].[ORDERS] ([ORDER_ID])
GO
ALTER TABLE [SALES].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_ORDERS]
GO
ALTER TABLE [SALES].[ORDER_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_ITEMS_PRODUCTS] FOREIGN KEY([PRODUCT_ID])
REFERENCES [PRODUCTIONS].[PRODUCTS] ([PRODUCT_ID])
GO
ALTER TABLE [SALES].[ORDER_ITEMS] CHECK CONSTRAINT [FK_ORDER_ITEMS_PRODUCTS]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_CUSTOMERS] FOREIGN KEY([CUSTOMER_ID])
REFERENCES [SALES].[CUSTOMERS] ([CUSTOMER_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_CUSTOMERS]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_STAFFS] FOREIGN KEY([STAFF_ID])
REFERENCES [SALES].[STAFFS] ([STAFF_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_STAFFS]
GO
ALTER TABLE [SALES].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_STORES] FOREIGN KEY([STORE_ID])
REFERENCES [SALES].[STORES] ([STORE_ID])
GO
ALTER TABLE [SALES].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_STORES]
GO
ALTER TABLE [SALES].[STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFS_STORES] FOREIGN KEY([STORE_ID])
REFERENCES [SALES].[STORES] ([STORE_ID])
GO
ALTER TABLE [SALES].[STAFFS] CHECK CONSTRAINT [FK_STAFFS_STORES]
GO
ALTER TABLE [SALES].[ORDER_ITEMS]  WITH CHECK ADD CHECK  (([LIST_PRICE]>(0)))
GO
ALTER TABLE [SALES].[ORDER_ITEMS]  WITH CHECK ADD CHECK  (([QUANTITY]>(0)))
GO
USE [master]
GO
