USE [master]
GO
/****** Object:  Database [EMPZensar]    Script Date: 10/21/2019 5:25:34 PM ******/
CREATE DATABASE [EMPZensar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPZensar', FILENAME = N'D:\SnehaJadhav\SQL server\EMPZensar.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EMPZensar_log', FILENAME = N'D:\SnehaJadhav\SQL server\EMPZensar_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPZensar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPZensar]
GO
/****** Object:  Table [dbo].[DepartmentMaster]    Script Date: 10/21/2019 5:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentMaster](
	[EmpDepartment] [nvarchar](50) NOT NULL,
	[EmpDesignation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DepartmentMaster] PRIMARY KEY CLUSTERED 
(
	[EmpDepartment] ASC,
	[EmpDesignation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmpMaster]    Script Date: 10/21/2019 5:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpMaster](
	[EmpCode] [int] NOT NULL,
	[EmpName] [nvarchar](50) NOT NULL,
	[EmpDob] [nvarchar](50) NOT NULL,
	[EmpGender] [nvarchar](50) NOT NULL,
	[EmpDepartment] [nvarchar](50) NOT NULL,
	[EmpDesignation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmpMaster] PRIMARY KEY CLUSTERED 
(
	[EmpCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalaryInfo]    Script Date: 10/21/2019 5:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryInfo](
	[SalarySheetNo] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [int] NOT NULL,
	[DateOfSalary] [datetime] NOT NULL,
	[Basic] [numeric](10, 0) NOT NULL,
	[Hra] [numeric](10, 0) NULL,
	[Da] [numeric](10, 0) NULL,
	[NetSalary]  AS (([Basic]+[Hra])+[Da]),
 CONSTRAINT [PK_SalaryInfo] PRIMARY KEY CLUSTERED 
(
	[SalarySheetNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 10/21/2019 5:25:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[SalaryInfo] ADD  CONSTRAINT [DF_SalaryInfo_Hra]  DEFAULT ((0)) FOR [Hra]
GO
ALTER TABLE [dbo].[SalaryInfo] ADD  CONSTRAINT [DF_SalaryInfo_Da]  DEFAULT ((0)) FOR [Da]
GO
ALTER TABLE [dbo].[EmpMaster]  WITH CHECK ADD  CONSTRAINT [FK_EmpMaster_DepartmentMaster] FOREIGN KEY([EmpDepartment], [EmpDesignation])
REFERENCES [dbo].[DepartmentMaster] ([EmpDepartment], [EmpDesignation])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmpMaster] CHECK CONSTRAINT [FK_EmpMaster_DepartmentMaster]
GO
ALTER TABLE [dbo].[SalaryInfo]  WITH CHECK ADD  CONSTRAINT [FK_SalaryInfo_EmpMaster] FOREIGN KEY([EmpCode])
REFERENCES [dbo].[EmpMaster] ([EmpCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalaryInfo] CHECK CONSTRAINT [FK_SalaryInfo_EmpMaster]
GO
USE [master]
GO
